---
// src/pages/index.astro
import BaseLayout      from '../layouts/BaseLayout.astro';
import Navbar          from '../components/Navbar.astro';
import Hero            from '../components/Hero.astro';
import Marquee         from '../components/Marquee.astro';
import WhatIsUGC       from '../components/WhatIsUGC.astro';
import AboutSection    from '../components/AboutSection.astro';
import ServicesGrid    from '../components/ServicesGrid.astro';
import StatsSection    from '../components/StatsSection.astro';
import PortfolioGrid   from '../components/PortfolioGrid.astro';
import BrandsCarousel  from '../components/BrandsCarousel.astro';
import WhyAna          from '../components/WhyAna.astro';
import ContactForm     from '../components/ContactForm.astro';
import Footer          from '../components/Footer.astro';
---

<BaseLayout>
  <Navbar />
  <main>
    <Hero />
    <Marquee />
    <WhatIsUGC />
    <AboutSection />
    <ServicesGrid />
    <StatsSection />
    <PortfolioGrid />
    <BrandsCarousel />
    <WhyAna />
    <ContactForm />
  </main>
  <Footer />
</BaseLayout>